name: Metrics
on:
  schedule: [{cron: "0 17 * * *"}]
  workflow_dispatch:
  push: {branches: ["master", "main"]}

jobs:
  github-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          
          # --- Layout Utama ---
          user: ${{ github.repository_owner }}
          template: classic
          config_display: large
          config_timezone: Asia/Jakarta
          base: header, activity, community, repositories, metadata
          
          plugin_languages: yes
          plugin_languages_ignored: html, css
          plugin_languages_limit: 8
          
          plugin_isocalendar: yes
          plugin_isocalendar_duration: half-year

          plugin_topics: yes
          plugin_topics_limit: 15
          plugin_topics_mode: icons
          
          plugin_achievements: yes
          plugin_achievements_display: compact
          plugin_achievements_threshold: X
