name: Metrics
on:
  # Update setiap jam 00:00 WIB (karena server UTC, kita set jam 17:00 UTC = 00:00 WIB)
  schedule: [{cron: "0 17 * * *"}]
  # Supaya bisa dijalankan manual tombolnya
  workflow_dispatch:
  push: {branches: ["master", "main"]}

jobs:
  github-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}

          # --- Pengaturan User ---
          user: ${{ github.repository_owner }}
          template: classic
          base: header, activity, community, repositories, metadata
          config_timezone: Asia/Jakarta
          
          # --- Plugin Bahasa Pemrograman ---
          plugin_languages: yes
          plugin_languages_ignored: >-
            html, css
          plugin_languages_limit: 8
          
          # --- Plugin Kebiasaan Coding (Habits) ---
          plugin_habits: yes
          plugin_habits_from: 200
          plugin_habits_days: 14
          plugin_habits_facts: yes
          plugin_habits_charts: yes
