name: Metrics
on:
  schedule: [{cron: "0 17 * * *"}] 
  workflow_dispatch:
  push: {branches: ["master", "main"]}

jobs:
  github-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}

          # --- Pengaturan Dasar ---
          user: ${{ github.repository_owner }}
          template: classic
          base: header, activity, community, repositories, metadata
          config_timezone: Asia/Jakarta
          
          plugin_languages: yes
          plugin_languages_ignored: html, css
          plugin_languages_limit: 8
    
          plugin_isocalendar: yes
          plugin_isocalendar_duration: half-year
